In [1]:
require 'sake'

true

In [2]:
data = Sake::Series.new([0.25, 0.5, 0.75, 1.0])

#<Sake::Series:0x007fdd10ded740 @values=Numo::DFloat#shape=[4]
[0.25, 0.5, 0.75, 1], @index=#<Sake::Index:0x007fdd10ded3f8 @array=Numo::Int64#shape=[4]
[0, 1, 2, 3]>>

In [3]:
data.values

Numo::DFloat#shape=[4]
[0.25, 0.5, 0.75, 1]

In [4]:
data.index

#<Sake::Index:0x007fdd10ded3f8 @array=Numo::Int64#shape=[4]
[0, 1, 2, 3]>

In [5]:
data[1]

0.5

In [6]:
data[*(1...3).to_a]

#<Sake::Series:0x007fdd102a82e0 @values=Numo::DFloat(view)#shape=[2]
[0.5, 0.75], @index=#<Sake::Index:0x007fdd102a8330 @array=Numo::Int64(view)#shape=[2]
[1, 2]>>

In [7]:
data = Sake::Series.new(
  [0.25, 0.5, 0.75, 1.0],
  index: [:a, :b, :c, :d]
)

#<Sake::Series:0x007fdd122469f8 @values=Numo::DFloat#shape=[4]
[0.25, 0.5, 0.75, 1], @index=#<Sake::Index:0x007fdd12246728 @array=Numo::RObject#shape=[4]
[:a, :b, :c, :d]>>

In [8]:
data[:b]

0.5

In [9]:
population_dict = {
  California: 38332521,
  Texas: 26448193,
  NewYork: 19651127,
  Florida: 19552860,
  Illinois: 12882135
}
population = Sake::Series.new(population_dict)

#<Sake::Series:0x007fdd12257078 @values=Numo::Int64#shape=[5]
[38332521, 26448193, 19651127, 19552860, 12882135], @index=#<Sake::Index:0x007fdd12256df8 @array=Numo::RObject#shape=[5]
[:California, :Texas, :NewYork, :Florida, :Illinois]>>

In [10]:
population[:California]

38332521